* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #ecf0f1, #7f8c8d);
}
.pnt-container{
    margin-top: 50px;
    
}
.btn-btn {
    position: relative;
    margin-left:70px;
}